.about-page h1 {
  color: #2e0000;
}

.about-page h3 {
  color: #2e0000;
}
.about-page .section {
  margin-bottom: 70px;
}
.about-page img {
  width: 60%;             
  max-width: 420px;       
  height: 420px !important; 
  border-radius: 20px;
  object-fit: cover;
  display: block;
  margin: 0 auto;      
  transition: transform 0.4s ease;
  overflow: hidden;
}

.about-page img:hover {
  transform: scale(1.04);
}

@media (min-width: 992px) {
  .about-page img {
    height: 360px;
  }
    .about-page .text-col {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .about-page{
    overflow: hidden;
  }

  .about-page h1,
  .about-page h2,
  .about-page h3 {
    font-size: 1.6rem !important;
  }

  .about-page p,
  .about-page .lead {
    font-size: 1rem !important;
    line-height: 1.7;
  }


  .about-page img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }


  .about-page .card {
    padding: 15px;
  }

  .about-page h4 {

    font-size: 2rem !important;
  }

  .about-page .stats p {
    font-size: 1rem;
  }

  /* تقليل المسافات */
  .about-page .row {
    margin-bottom: 2rem !important;
  }

  .about-page .text-center {
    margin-bottom: 1rem;
  }
  .about-page h3{
    text-align: center;
  }
  .about-page .lead{
    text-align: center;
  }
}

