.header {
  background-color: #2e0000;
  color: white;
  justify-content: space-between;
  padding: 10px;

}

.info p {
  padding: 0 20px;
  margin: 0;
}

.icons {
  margin-left: 20px;
}

.icons a {
  padding: 0 15px;
  cursor: pointer;
  color: white;
}

.whatsapp-link {
  color: white;
  text-decoration: none;
}

.whatsapp-link:hover {
  color: #25D366;
}

.phone {
  padding: 0 10px;
}

.navBar {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem;
}
.logo-img {
  width: 100px;
  border-radius: 50%;
  border: 3px solid #2e0000;
}

.nav-links .nav-link {
  color: #2e0000 !important;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links .nav-link:hover {
  color: #600000 !important;
  transform: translateY(-2px);
}
.appointment-btn {
  background-color: #2e0000 !important;
  border: none !important;
  padding: 8px 20px !important; 
  font-size: 18px;
  border-radius: 30px;
  transition: 0.3s;
}

.appointment-btn:hover {
  background-color: #600000 !important;
  transform: scale(1.05);
}