.footer-modern {
    background-color: #2e0000;
    color: #fff;
    padding: 50px 20px 20px 20px;
    font-family: 'Arial', sans-serif;
    position: relative;
    z-index: 1;
}



.footer-modern .footer-logo {
    width: 120px;
    margin-top: 10px;
    border-radius: 50%;
}

.footer-modern .footer-desc {
    color: #fdf0f0;
    font-size: 1rem;
}

.footer-modern .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.footer-modern .footer-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-modern .footer-links li a:hover {
    color: #ffb400;
}

.footer-contact-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    text-align: right;
}

.contact-info a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.social-icons a .font {
    font-size: 25px;
    color: white;
    transition: 0.3s;
}

.social-icons a .font:hover {
    color: #ffcc00;
}

.contact-btn .button {
    padding: 10px 25px;
    font-size: 16px;
}


@media (max-width: 768px) {
    .footer-contact-social {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact-info {
        font-size: 16px;
    }
}