.section-title {
  color: #2e0000;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 70px;
}

.accordion-item-custom {
  background-color: #f9f4f4; 
  border: none; 
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}

.accordion-header-custom {
  background-color: #2e0000; 
  color: #fff; 
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 12px; 
}

.accordion-body-custom {
  background-color: #fff; 
  color: #333;
  padding: 1.5rem;
  line-height: 1.8;
}

.accordion-header-custom:hover {
  background-color: #4d0000;
  cursor: pointer;
}
