*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
  text-align: right;
  font-size: 16px;
}

.flexSB{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}